@function create_var($name, $defaults...) {
  @return '--' + #{$name}+ ': ' + var(--pw-#{$name}, #{$defaults});
}

@mixin create-var($name, $defaults...) {
  --#{$name}: var(--pw-#{$name}, #{$defaults});
}

@mixin light-theme {
  color-scheme: light;

  @include create-var('text-color-base', #000000);
  @include create-var('text-color-secondary', #333333);
  @include create-var('text-color-link', #333333);
  @include create-var('text-color-secondary-link', #000000);

  @include create-var(
    'body-background',
    linear-gradient(180deg, rgba(20, 44, 87, 0.1) 0%, rgba(23, 36, 60, 0) 100%),
    #fff
  );

  @include create-var('scroll-background', transparent);

  @include create-var('scroll-thumb-background', #b9b9b9);

  @include create-var('logo-background-color', transparent);

  @include create-var('border-color', rgba(0, 0, 0, 0.1));
  @include create-var('window-border-color', rgba(0, 0, 0, 0.1));

  @include create-var('countdown-background', 0, 0, 0);

  @include create-var('button-icon-background-hover', rgba(0, 0, 0, 0.08));

  @include create-var('button-primary-border-color', #a6a7a9);
  @include create-var('button-primary-border-color-hover', #000);
  @include create-var('button-primary-background-hover', #e4e5e8);

  @include create-var('button-outlined-border-color', #000);
  @include create-var('button-outlined-border-color-hover', #b9b9b9);

  @include create-var('button-accent-background', #000000);
  @include create-var('button-accent-background-hover', #1e1e1e);
  @include create-var('button-accent-text-color', #ffffff);

  @include create-var('button-flat-text-color', #000);
  @include create-var('button-flat-text-color-hover', #7f7f7f);

  @include create-var('tabs-background', #d5d6d9);
  @include create-var('tabs-background-active', #161616);
  @include create-var('tabs-text-color-active', #ffffff);

  @include create-var('list-background', rgba(0, 0, 0, 0.02));
  @include create-var('list-border-color', var(--list-background));
}

@mixin dark-theme {
  color-scheme: dark;

  @include create-var('text-color-base', #ffffff);
  @include create-var('text-color-secondary', #c0c0c0);
  @include create-var('text-color-link', #c0c0c0);
  @include create-var('text-color-secondary-link', #ffffff);

  @include create-var(
    'body-background',
    linear-gradient(180deg, rgba(20, 44, 87, 0.4) 0%, rgba(23, 36, 60, 0) 100%),
    #000
  );

  @include create-var('scroll-background', transparent);

  @include create-var('scroll-thumb-background', #474d56);

  @include create-var('logo-background-color', transparent);

  @include create-var('border-color', #161616);
  @include create-var('window-border-color', #282c32);

  @include create-var('countdown-background', 255, 255, 255);

  @include create-var('button-icon-background-hover', rgba(255, 255, 255, 0.08));

  @include create-var('button-primary-border-color', #474d56);
  @include create-var('button-primary-border-color-hover', #fff);
  @include create-var('button-primary-background-hover', transparent);

  @include create-var('button-outlined-border-color', #fff);
  @include create-var('button-outlined-border-color-hover', #434445);

  @include create-var('button-accent-background', #ffffff);
  @include create-var('button-accent-background-hover', #e1e1e1);
  @include create-var('button-accent-text-color', #000000);

  @include create-var('button-flat-text-color', #c0c0c0);
  @include create-var('button-flat-text-color-hover', #ffffff);

  @include create-var('tabs-background', #121a26);
  @include create-var('tabs-background-active', #323944);
  @include create-var('tabs-text-color-active', #ffffff);

  @include create-var('list-background', rgba(255, 255, 255, 0.02));
  @include create-var('list-border-color', var(--list-background));
}

@mixin button-reset {
  position: relative;
  isolation: isolate;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
}

@mixin sexy-scrollbars {
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-width: thin;
  }

  @supports selector(::-webkit-scrollbar) {
    scrollbar-gutter: stable;
    scrollbar-width: auto;
    scrollbar-color: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scroll-background);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scroll-thumb-background);
      border-radius: 3px;
    }
  }

  @supports (-moz-osx-font-smoothing: grayscale) {
    scrollbar-width: none;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:active {
      @content;
    }
  }
  @media (hover: none) and (pointer: coarse) {
    &:active {
      @content;
    }
  }
}
